In [74]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix

from collections import Counter
df=pd.read_csv('amazon_baby.csv')
pd.set_option('display.max_columns',100)

In [2]:
df.head()

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

# Fill the Nan value

In [3]:
df['review']=df['review'].fillna('k')

In [4]:
import string
def punct_strip(word):
    for i in string.punctuation:
         word = word.replace(i, '')
    return word

# Word count

In [5]:
df['word_count']=df['review'].apply(lambda x: Counter(punct_strip(x).lower().split()) if type(x)==str else 'k')

In [6]:
df.head()

,name,review,rating,word_count
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3,"{'these': 1, 'flannel': 1, 'wipes': 3, 'are': ..."
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,"{'it': 3, 'came': 1, 'early': 1, 'and': 3, 'wa..."
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,"{'very': 1, 'soft': 1, 'and': 2, 'comfortable'..."
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,"{'this': 4, 'is': 4, 'a': 2, 'product': 2, 'we..."
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,"{'all': 2, 'of': 1, 'my': 1, 'kids': 2, 'have'..."

# Ignore 3 star rating and create sentiment column/

In [7]:
df=df[df['rating'] != 3]
df['sentiment']=df['rating'].apply(lambda x: 1 if x>=4 else 0)

In [17]:
# df['awesome']=df['word_count'].apply(lambda x : x['awesome'])
df=df.assign(awesome=df['word_count'].apply(lambda x:x['awesome']),
             great=df['word_count'].apply(lambda x: x['great']),
             fantastic=df['word_count'].apply(lambda x: x['fantastic']),
             amazing=df['word_count'].apply(lambda x: x['amazing']),
             love=df['word_count'].apply(lambda x: x['love']),
             horrible=df['word_count'].apply(lambda x: x['horrible']),
             bad=df['word_count'].apply(lambda x: x['bad']),
             terrible=df['word_count'].apply(lambda x: x['terrible']),
             awful=df['word_count'].apply(lambda x: x['awful']),
             wow=df['word_count'].apply(lambda x: x['wow']),
             hate=df['word_count'].apply(lambda x: x['hate']),
            )
df.head()

,name,review,rating,word_count,sentiment,awesome,great,fantastic,amazing,love,horrible,bad,terrible,awful,wow,hate
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,"{'it': 3, 'came': 1, 'early': 1, 'and': 3, 'wa...",1,0,0,0,0,1,0,0,0,0,0,0
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,"{'very': 1, 'soft': 1, 'and': 2, 'comfortable'...",1,0,0,0,0,0,0,0,0,0,0,0
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,"{'this': 4, 'is': 4, 'a': 2, 'product': 2, 'we...",1,0,0,0,0,2,0,0,0,0,0,0
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,"{'all': 2, 'of': 1, 'my': 1, 'kids': 2, 'have'...",1,0,1,0,0,0,0,0,0,0,0,0
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,"{'when': 2, 'the': 6, 'binky': 3, 'fairy': 3, ...",1,0,1,0,0,0,0,0,0,0,0,0

In [21]:
for i in df.columns[5:16]:
    print("{} ==".format(i),df[i].sum())
#     print(df[i].value_counts().sum())
# df.columns[4:16]

awesome == 3735
great == 54398
fantastic == 1604
amazing == 2539
love == 41515
horrible == 1085
bad == 4044
terrible == 1101
awful == 657
wow == 380
hate == 1090

In [12]:
selected_words = ['awesome', 'great', 'fantastic', 'amazing', 'love', 'horrible', 'bad', 'terrible', 'awful', 'wow', 'hate']

# Logistic regresion classifiar

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

##  create logistic regression model

In [71]:
x_train,x_test,y_train,y_test=train_test_split(df[selected_words],df['sentiment'],test_size=0.2,random_state=0)
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
predictions=logreg.predict(x_test)
y_test

103733    1
157975    1
127693    1
113718    0
20416     1
         ..
62773     1
183290    1
608       0
89302     0
162123    1
Name: sentiment, Length: 33351, dtype: int64

## measure accuracy of the model

In [80]:
score = logreg.score(x_test,y_test)
print(score)
accuracy_sc=accuracy_score(y_test,predictions)
accuracy_sc

0.8451320799976013

0.8451320799976013

## Confusion matrix

In [36]:
cm=metrics.confusion_matrix(y_test,predictions)
print(cm)

[[  344  5018]
 [  147 27842]]

In [37]:
s=logreg.coef_
# print("Name   Coefficient")
# print("------------------")
for i,j in zip(df.columns[5:16],range(11)):
    print("{0} ==".format(i),s[0][j])
s

awesome == 1.178728071501063
great == 0.8653686176632086
fantastic == 0.8994186232550317
amazing == 1.0337865051267605
love == 1.3873337184967776
horrible == -2.2815916861325114
bad == -0.9870445047695329
terrible == -2.197422975267511
awful == -2.0741767739460673
wow == -0.08072957229455362
hate == -1.4338681601515761

array([[ 1.17872807,  0.86536862,  0.89941862,  1.03378651,  1.38733372,
        -2.28159169, -0.9870445 , -2.19742298, -2.07417677, -0.08072957,
        -1.43386816]])

In [38]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer(sparse=False)
X = v.fit_transform(df["word_count"][1])
X.shape
# df["word_count"]
df["word_count"][1]

Counter({'it': 3,
         'came': 1,
         'early': 1,
         'and': 3,
         'was': 1,
         'not': 2,
         'disappointed': 1,
         'i': 1,
         'love': 1,
         'planet': 1,
         'wise': 1,
         'bags': 1,
         'now': 1,
         'my': 2,
         'wipe': 1,
         'holder': 1,
         'keps': 1,
         'osocozy': 1,
         'wipes': 1,
         'moist': 1,
         'does': 1,
         'leak': 1,
         'highly': 1,
         'recommend': 1})

In [59]:
diaper_champ_reviews = df[df['name']=="Baby Trend Diaper Champ" ]
diaper_champ_reviews["sentiment"]

312    1
314    0
315    1
316    1
317    1
      ..
640    1
641    1
642    1
643    0
644    1
Name: sentiment, Length: 298, dtype: int64

In [83]:
print(list(diaper_champ_reviews["sentiment"]))
diaper_champ_reviews1=diaper_champ_reviews[selected_words]
prediction=logreg.predict(diaper_champ_reviews1)
prediction
diaper_champ_reviews

[1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1]

,name,review,rating,word_count,sentiment,awesome,great,fantastic,amazing,love,horrible,bad,terrible,awful,wow,hate
312,Baby Trend Diaper Champ,Ok - newsflash. Diapers are just smelly. We\...,4,"{'ok': 1, 'newsflash': 1, 'diapers': 2, 'are':...",1,0,0,0,0,0,0,0,0,0,0,0
314,Baby Trend Diaper Champ,"My husband and I selected the Diaper ""Champ"" m...",1,"{'my': 2, 'husband': 1, 'and': 8, 'i': 2, 'sel...",0,0,0,0,0,0,0,0,0,0,0,0
315,Baby Trend Diaper Champ,Excellent diaper disposal unit. I used it in ...,5,"{'excellent': 1, 'diaper': 1, 'disposal': 1, '...",1,0,0,0,0,0,0,0,0,0,0,0
316,Baby Trend Diaper Champ,We love our diaper champ. It is very easy to ...,5,"{'we': 3, 'love': 1, 'our': 2, 'diaper': 4, 'c...",1,0,0,0,0,1,0,0,0,0,0,0
317,Baby Trend Diaper Champ,Two girlfriends and two family members put me ...,5,"{'two': 2, 'girlfriends': 1, 'and': 12, 'famil...",1,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Baby Trend Diaper Champ,"Its a good product because its easy to use, an...",4,"{'its': 2, 'a': 3, 'good': 2, 'product': 1, 'b...",1,0,0,0,0,0,0,0,0,0,0,0
641,Baby Trend Diaper Champ,this works really well. I found it easier tha...,5,"{'this': 1, 'works': 1, 'really': 1, 'well': 1...",1,0,0,0,0,0,0,0,0,0,0,0
642,Baby Trend Diaper Champ,This truly is the champ of diapers. This produ...,5,"{'this': 2, 'truly': 1, 'is': 2, 'the': 7, 'ch...",1,0,1,0,0,0,0,0,0,0,0,0
643,Baby Trend Diaper Champ,I\'ve read all of the reviews of those of you ...,2,"{'ive': 1, 'read': 1, 'all': 3, 'of': 6, 'the'...",0,0,0,0,0,0,0,2,0,0,0,0
644,Baby Trend Diaper Champ,I see that there are complaints of stinkiness ...,5,"{'i': 2, 'see': 2, 'that': 2, 'there': 1, 'are...",1,0,0,0,0,0,0,0,0,0,0,0

In [84]:
accuracy_sc=accuracy_score(diaper_champ_reviews["sentiment"],prediction)
accuracy_sc

0.8422818791946308

In [86]:
cm=metrics.confusion_matrix(diaper_champ_reviews["sentiment"],prediction)
print(cm)

[[  4  46]
 [  1 247]]