In [76]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix
# from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from collections import Counter

In [77]:
people=pd.read_csv("people_wiki.csv")
people

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...
...,...,...,...
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [78]:
people['word_count'] = people['text'].apply(lambda x: Counter(x.lower().split()))
people

,URI,name,text,word_count
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1, 'morrell': 5, 'born': 1, '10': 1,..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1, 'rottensteiner': 3, 'born': 1, 'i..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ..."
...,...,...,...,...
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...,"{'olari': 2, 'elts': 3, 'born': 1, 'april': 1,..."
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...,"{'scott': 1, 'francis': 1, 'crago': 5, 'born':..."
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...,"{'david': 1, 'william': 1, 'royce': 1, 'cass':..."
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...,"{'keith': 1, 'hector': 1, 'elias': 4, 'born': ..."
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...,"{'fawaz': 1, 'mohammed': 1, 'damrah': 4, 'arab..."

In [79]:
obama = people[people['name'] == 'Barack Obama']
obama["text"]

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [80]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

In [114]:
obama["word_count"]
ms = np.column_stack((word_count))
df = pd.DataFrame(ms, 
                  columns = ['Ground truth', 'Clusters'])

NameError: name 'word_count' is not defined

In [106]:
# obama.stack()
# people["word_count"]=people["word_count"].astype(str)
people["word_count"]
# people

0        {'digby': 1, 'morrell': 5, 'born': 1, '10': 1,...
1        {'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa...
2        {'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's...
3        {'franz': 1, 'rottensteiner': 3, 'born': 1, 'i...
4        {'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ...
                               ...
59066    {'olari': 2, 'elts': 3, 'born': 1, 'april': 1,...
59067    {'scott': 1, 'francis': 1, 'crago': 5, 'born':...
59068    {'david': 1, 'william': 1, 'royce': 1, 'cass':...
59069    {'keith': 1, 'hector': 1, 'elias': 4, 'born': ...
59070    {'fawaz': 1, 'mohammed': 1, 'damrah': 4, 'arab...
Name: word_count, Length: 59071, dtype: object

In [130]:
# kmeans = KMeans(n_clusters=2, random_state=0)
# kmeans.fit(obama["word_count"])
l=people["word_count"]
print(l)
l.iloc[0].values()

0        {'digby': 1, 'morrell': 5, 'born': 1, '10': 1,...
1        {'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa...
2        {'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's...
3        {'franz': 1, 'rottensteiner': 3, 'born': 1, 'i...
4        {'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ...
                               ...
59066    {'olari': 2, 'elts': 3, 'born': 1, 'april': 1,...
59067    {'scott': 1, 'francis': 1, 'crago': 5, 'born':...
59068    {'david': 1, 'william': 1, 'royce': 1, 'cass':...
59069    {'keith': 1, 'hector': 1, 'elias': 4, 'born': ...
59070    {'fawaz': 1, 'mohammed': 1, 'damrah': 4, 'arab...
Name: word_count, Length: 59071, dtype: object

dict_values([1, 5, 1, 1, 1, 1, 1, 4, 1, 3, 1, 1, 1, 3, 5, 27, 3, 4, 2, 13, 10, 4, 1, 1, 1, 3, 1, 3, 4, 2, 1, 1, 1, 1, 1, 1, 6, 5, 1, 2, 1, 1, 4, 1, 4, 1, 1, 5, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [108]:
# from sklearn.cluster import KMeans
# clustering = KMeans(n_clusters=10, 
#                     n_init=10, random_state=1)
# clustering.fit(obama["word_count"].values())
l=dict(obama["word_count"])
l.values()

dict_values([Counter({'the': 40, 'in': 30, 'and': 21, 'of': 18, 'to': 14, 'his': 11, 'obama': 9, 'act': 8, 'a': 7, 'he': 7, 'law': 6, 'as': 6, 'us': 6, 'was': 5, 'president': 4, 'for': 4, 'democratic': 4, 'after': 4, 'military': 4, 'iraq': 4, 'control': 4, 'has': 4, 'united': 3, 'states': 3, 'first': 3, 'american': 3, 'school': 3, 'from': 3, '2004': 3, 'senate': 3, 'campaign': 3, 'with': 3, 'party': 3, 'election': 3, 'january': 3, '2009': 3, 'signed': 3, 'response': 3, 'term': 3, 'involvement': 3, 'ordered': 3, '2011': 3, 'born': 2, 'is': 2, 'office': 2, 'university': 2, 'harvard': 2, 'served': 2, 'chicago': 2, 'at': 2, 'illinois': 2, 'house': 2, 'representatives': 2, 'national': 2, 'during': 2, 'primary': 2, 'november': 2, 'presidential': 2, 'republican': 2, 'nominee': 2, 'on': 2, '20': 2, 'relief': 2, '2010': 2, 'domestic': 2, 'protection': 2, 'dont': 2, 'foreign': 2, 'policy': 2, 'afghanistan': 2, 'second': 2, 'barack': 1, 'hussein': 1, 'ii': 1, 'brk': 1, 'husen': 1, 'bm': 1, 'august': 1, '4': 1, '1961': 1, '44th': 1, 'current': 1, 'african': 1, 'hold': 1, 'honolulu': 1, 'hawaii': 1, 'graduate': 1, 'columbia': 1, 'where': 1, 'review': 1, 'community': 1, 'organizer': 1, 'before': 1, 'earning': 1, 'degree': 1, 'worked': 1, 'civil': 1, 'rights': 1, 'attorney': 1, 'taught': 1, 'constitutional': 1, '1992': 1, 'three': 1, 'terms': 1, 'representing': 1, '13th': 1, 'district': 1, '1997': 1, 'running': 1, 'unsuccessfully': 1, '2000in': 1, 'received': 1, 'attention': 1, 'represent': 1, 'victory': 1, 'march': 1, 'keynote': 1, 'address': 1, 'convention': 1, 'july': 1, 'began': 1, '2007': 1, 'close': 1, 'against': 1, 'hillary': 1, 'rodham': 1, 'clinton': 1, '2008': 1, 'won': 1, 'sufficient': 1, 'delegates': 1, 'primaries': 1, 'receive': 1, 'nomination': 1, 'then': 1, 'defeated': 1, 'john': 1, 'mccain': 1, 'general': 1, 'inaugurated': 1, 'nine': 1, 'months': 1, 'named': 1, 'nobel': 1, 'peace': 1, 'prize': 1, 'laureateduring': 1, 'two': 1, 'years': 1, 'into': 1, 'economic': 1, 'stimulus': 1, 'legislation': 1, 'great': 1, 'recession': 1, 'form': 1, 'recovery': 1, 'reinvestment': 1, 'tax': 1, 'unemployment': 1, 'insurance': 1, 'reauthorization': 1, 'job': 1, 'creation': 1, 'other': 1, 'major': 1, 'initiatives': 1, 'included': 1, 'patient': 1, 'affordable': 1, 'care': 1, 'often': 1, 'referred': 1, 'obamacare': 1, 'doddfrank': 1, 'wall': 1, 'street': 1, 'reform': 1, 'consumer': 1, 'ask': 1, 'tell': 1, 'repeal': 1, 'ended': 1, 'war': 1, 'increased': 1, 'troop': 1, 'levels': 1, 'new': 1, 'start': 1, 'arms': 1, 'treaty': 1, 'russia': 1, 'libya': 1, 'operation': 1, 'that': 1, 'resulted': 1, 'death': 1, 'osama': 1, 'bin': 1, 'laden': 1, 'republicans': 1, 'regained': 1, 'lost': 1, 'total': 1, '63': 1, 'seats': 1, 'lengthy': 1, 'debate': 1, 'over': 1, 'federal': 1, 'spending': 1, 'whether': 1, 'or': 1, 'not': 1, 'raise': 1, 'nations': 1, 'debt': 1, 'limit': 1, 'budget': 1, 'taxpayer': 1, '2012obama': 1, 'reelected': 1, '2012': 1, 'defeating': 1, 'mitt': 1, 'romney': 1, 'sworn': 1, '2013': 1, 'promoted': 1, 'policies': 1, 'related': 1, 'gun': 1, 'sandy': 1, 'hook': 1, 'elementary': 1, 'shooting': 1, 'called': 1, 'full': 1, 'equality': 1, 'lgbt': 1, 'americans': 1, 'while': 1, 'administration': 1, 'filed': 1, 'briefs': 1, 'which': 1, 'urged': 1, 'supreme': 1, 'court': 1, 'strike': 1, 'down': 1, 'defense': 1, 'marriage': 1, '1996': 1, 'californias': 1, 'proposition': 1, '8': 1, 'unconstitutional': 1, 'gains': 1, 'made': 1, 'by': 1, 'islamic': 1, 'state': 1, 'withdrawal': 1, 'continued': 1, 'process': 1, 'ending': 1, 'combat': 1, 'operations': 1, 'sought': 1, 'normalize': 1, 'relations': 1, 'cuba': 1})])

In [109]:
print(obama["text"])

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [137]:
from numpy import where
from collections import Counter
from sklearn.datasets import make_blobs
from matplotlib import pyplot
# define dataset
X, y = make_blobs(n_samples=1000, centers=2, random_state=1)
# summarize dataset shape
print(X.shape, y.shape)
# summarize observations by class label
counter = Counter(y)
print(counter)
# summarize first few examples
for i in range(10):
	print(X[i], y[i])
# plot the dataset and color the by class label
for label, _ in counter.items():
    print(label,_)
    row_ix = where(y == label)
#     pyplot.scatter(X[row_ix, 0], X[row_ix, 1], label=str(label))
# pyplot.legend()
# pyplot.show()

(1000, 2) (1000,)
Counter({0: 500, 1: 500})
[-3.05837272  4.48825769] 0
[-8.60973869 -3.72714879] 1
[1.37129721 5.23107449] 0
[-9.33917563 -2.9544469 ] 1
[-11.57178593  -3.85275513] 1
[-11.42257341  -4.85679127] 1
[-10.44518578  -3.76476563] 1
[-10.44603561  -3.26065964] 1
[-0.61947075  3.48804983] 0
[-10.91115591  -4.5772537 ] 1
0 500
1 500

In [143]:
people1=people[:len(people)/10]
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer()

vec.fit_transform(obama["word_count"]).toarray()
# vec.get_feature_names()

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [5907.1] of <class 'float'>